.input {
  display: block;
  height: 3.25rem;
  border: 1px solid var(--gray-700);
  background: var(--gray-500);
  padding-left: 1rem;
  color: var(--gray-100);
  border-radius: 8px;
  width: 100%;
  outline: none;
}

.input::placeholder {
  color: var(--gray-300);
}

.input:focus {
  border: 1px solid var(--purple-dark);
}